---
is_entry_page: true
page_type: tid
section_prefix: "/blog/"
section_label: "blog"
crumb_parent_url: false
---
{% extends "layouts/base.njk" %}

{% block nav %}{% include "partials/tid-nav.njk" %}{% endblock %}

{% block content %}
<article class="entry entry--text blog-entry">
  {% include "partials/entry-breadcrumb.njk" %}
  <div class="rule-double"></div>
  {% include "partials/entry-header.njk" %}

  <div class="blog-entry-bleed">
    <div class="blog-entry-bleed__inner">
      <figure class="entry-media entry-media--header">
        <img src="{{ header_image | url }}" alt="{{ header_image_alt or title }}" loading="lazy">
      </figure>
      <div class="entry-body">
        {{ content | safe }}
      </div>
    </div>
  </div>
</article>
{% endblock %}
