---
---
{% extends "layouts/base.njk" %}

{% block nav %}
<nav class="chip-stack">
  {% for item in categories.main_nav %}
  <a class="chip" href="{{ item.url | url }}" style="background-color: {{ item.color }};">
    {{ item.label }}
  </a>
  {% endfor %}
</nav>
{% endblock %}

{% block subheader %}
<p class="intro">{{ intro }}</p>
<span class="accent-dash"></span>
{% endblock %}

{% block content %}
<div class="cv">
  <div class="cv__body">
    {{ content | safe }}
  </div>
</div>
{% endblock %}
