---
---
{% extends "layouts/base.njk" %}

{% block nav %}{% include "partials/tid-nav.njk" %}{% endblock %}

{% block subheader %}
{% include "partials/entry-breadcrumb.njk" %}
{% endblock %}

{% block content %}
<div class="entry entry--diy">
  {% include "partials/entry-header.njk" %}
  {{ content | safe }}
</div>
{% endblock %}
