---
---
{% extends "layouts/base.njk" %}

{% block nav %}{% include "partials/tid-nav.njk" %}{% endblock %}

{% block subheader %}
<p class="breadcrumb">
  <a href="{{ section_prefix | url }}">{{ breadcrumb_label or 'things I\'ve done/' }}</a> {{ title }}
</p>
{% endblock %}

{% block content %}
<div class="entry entry--diy">
  {% include "partials/entry-header.njk" %}
  {{ content | safe }}
</div>
{% endblock %}
