<p class="breadcrumb">
  <a href="{{ '/tid/' | url }}">things I've done/</a>
  <a href="{{ section_prefix | url }}">{{ section_label }}/</a>
  <span class="breadcrumb__current">{{ title }}</span>
</p>
