{% if not hide_header %}
<header class="entry-header">
  <h1 class="entry-title">{{ title }}</h1>
  <div class="entry-meta">
    {% if tags and tags.length %}
    <ul class="entry-tags">
      {% for tag in tags %}
      <li class="entry-tag">{{ tag }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if page.date %}
    <span class="entry-date">Posted: {{ page.date | readableDate }}</span>
    {% endif %}
  </div>
</header>
{% endif %}
