<p class="breadcrumb" data-pagefind-meta="category:{{ section_label }}">
  {% if crumb_parent_url != false %}
  <a href="{{ (crumb_parent_url or '/tid/') | url }}">{{ crumb_parent_label or "things I've done" }}/</a>
  {% endif %}
  <a href="{{ section_prefix | url }}">{{ section_label }}/</a>
  <span class="breadcrumb__current">{{ title }}</span>
</p>
